@import "./color.scss";

.section{
    padding-top: 15rem;
    width: 100vw;

    >div{
       max-width: 48rem;
       height: 120vh;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       flex-direction: column;
       text-align: center;
       box-sizing: border-box;
       margin: auto;
    }
    h3{
        width: 80%;
        font: 300 54px $heading;
    }
    p{
        font-size: 19px;
        font-family: $text;
        line-height: 1.9;
    }
    button{
      font: 600 14px $text;
      padding: 0.9rem 1.25rem;
      border: none;
      transform-origin:bottom;
      transition: transform 0.5s;
      letter-spacing: 2px;
      border-radius: 8px;

      &:hover{
        transform: skew(-10deg);
      }
    }
}